@import url(navbar.css);
@import url(buttons.css);
@import url(other.css);

body {
        font-family: "Comfortaa";
        font-size: "25px";
        text-align: center;
        background-color: #1e2124;
        background-repeat: no-repeat;
        background-size: cover
      }

      .container {
        margin-top: 10%;
        font-family: "Comfortaa";
        font-size: "50px";
        color: #6886ed;
      }

      .container p {
        font-size: 50px;
        margin-bottom: 2px;
      }

      .container a {
        height: 20px;
        background: inherit;
        background-size: cover;
        color: #ddd;
        border: 0;
        cursor: pointer;
        font-family: "Comfortaa";
        font-size: 17px;
        transition: 0.3s;
      }

      .container a:hover {
        font-size: 23;
      }

      .url {
        width: 300px;
        margin: auto;
      }

        .w3-xlarge {
          outline: none;
          background: transparent;
          border: 1px solid #6886ed;
          padding: 0 10px;
          border-radius: 6px;
          height: 3.5rem;
          width: 40rem;
          margin: 10px;
          color: white;
        }
      }
