black {
  position: absolute;
  left: 0px;
  opacity: 1;
  display: block;
  top: 0px;
  width: 100%;
  z-index: 999999999999999999999999999999999999999999999;
  height: 100%;
}
.loadimg {
  position: absolute;
  opacity: 1;
  display: block;
  width: 125px;
  z-index: 9999999999999999999999999999999999999999999999;
  height: 125px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes fadeout {
  0% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.shaking:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

input[type="color" i] {
    appearance: auto;
    inline-size: 50px;
    block-size: 27px;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    border-width: 1px;
    border-style: solid;
    border-color: buttonborder;
    border-image: initial;
    padding: 1px 2px;
}

input[type="color"] {
    writing-mode: horizontal-tb !important;
}
